*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Fredoka', sans-serif;
}

/* General container */
.container{
    margin: auto;
    width: 70%;
}

/* Title and article */
#title{
    height: 80px;
    text-align: center;
    padding: 3%;
    font-weight: 700;
    font-size: x-large;
    color: #E53170;
}
div>p{
    padding: 3%;
    text-align: center;
    font-size: large;
}

/* Floating Cards */

.card{
    width: calc(85%/3);
    height: 120px;
    float: left;
    margin:2em calc(15%/6) 0;
    box-shadow: 0 0 10px grey;
    background-position: left;
    background-color: #0F0E17;
    background-repeat: no-repeat;
    background-size: contain;
}
.name{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em 0.5em 0 7.2em;
}
.qualification{
    color: white;
    display: block;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0.5em 0.5em 0 8.5em;
}
.email{
    color: #00C0F3;
    display: block;
    font-weight: 300;
    text-decoration: none;
    padding: 0.5em 0.5em 0 8.5em;
}

/* Profile pictures */
.marco{
    background-image: url(../img/male1.png);
}
.laura{
    background-image: url(../img/female1.png);
}
.giorgio{
    background-image: url(../img/male2.png);
}
.marta{
    background-image: url(../img/female2.png);
}
.roberto{
    background-image: url(../img/male3.png);
}
.daniela{
    background-image: url(../img/female3.png);
}

/* Clearfix */
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}